@import 'variables.scss';

.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #699ae9, #a17cf6, #d99bdb);

  a {
    background-color: #000;
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3), 0 6px 8px rgba(0, 0, 0, 0.2);

    &:hover {
      color: #1DB954;
    }
  }
}
