// @import 'styles/abstracts/mixins';
// @import 'styles/abstracts/variables';

.player {
  @include player-item;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: .5rem;

  svg:hover {
    color: #fff;
  }
}


.sliderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
  font-size: .8rem;
  width: 100%;
}

.menu {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 1.5rem;

  .playBtn {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    color: #000;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      transform: scale(1.05);
    }

    svg:hover {
      color: #000;
    }
  }
}

