@import 'styles/abstracts/variables';

.nav {
  color: $secondary-color;

  ul {
    margin-bottom: 1.5rem;

    li {
      a {
        display: flex;
        align-items: center;
        height: 2.5rem;
        border-radius: 5px;
        color: inherit;
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        padding-left: 0.9rem;

        span {
          margin-right: 0.9rem;
        }

        &.active {
          color: $primary-color;
          background-color: $third-color;
        }
      }

      &:hover {
        a {
          color: $primary-color;
        }
      }
    }
  }
}
