@import 'styles/abstracts/variables';

.nav {
  height: 100%;
  margin-top: 0.8rem;
  color: $secondary-color;
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.5rem;
    min-height: 1.8rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-color;
    border-radius: 3px;

    &:hover {
      background: $scrollbar-hover-color;
    }
  }

  ul {
    margin-bottom: 1.5rem;

    li {
      a {
        line-height: 2rem;
        height: 2rem;
        color: inherit;
        text-decoration: none;
        font-size: 14px;
        padding-left: 0.9rem;

        /* like a text-overflow: ellipsis*/
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
        word-break: break-all;
        white-space: unset;

        &.active {
          color: $primary-color;
        }
      }

      &:hover {
        a {
          color: $primary-color;
        }
      }
    }
  }
}
