@import 'styles/abstracts/variables';

.container {
  height: 16.1rem;
  border-bottom: 1px solid $third-color;
  padding-top: 2rem;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  color: #7f7f7f;
}

.image {
  width: 14.5rem;
  height: 14.5rem;
  background-color: $third-color;
  border-radius: 50%;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3), 0 6px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;

  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  margin-top: 1rem;

  h2 {
    font-weight: 700;
    font-size: 0.75rem;
  }

  h1 {
    font-size: 6rem;
    padding: 0.08em 0px;
    letter-spacing: -.04rem;
  }

  span {
    color: rgba(255,255,255,.7);
    font-size: 0.875rem;
    font-weight: 600;
  }

  .follower {
    color: #fff;
  }
}