// @import 'styles/abstracts/variables';

.dropdown {
  position: absolute;
  top: 3.6rem;
  right: 3.3rem;
  background-color: $third-color;
  border-radius: 4px;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3), 0 6px 8px rgba(0, 0, 0, 0.2);

  ul {
    padding: .3rem;

    li {
      border-radius: 3px;

      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: inherit;
        text-decoration: none;
        cursor: default;
        width: 11.05rem;
        height: 2.5rem;
        padding: 0 .7rem;
        font-size: 14px;
      }

      &:hover {
        background-color: #3E3E3E;
      }
    }
  }
}