@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';

.options {
  @include player-item;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: .8rem;

  svg:hover {
    color: #fff;
  }
}