@import '../abstracts/variables';

.container {
  height: 16.1rem;
  border-bottom: 1px solid $third-color;
  padding-top: 2rem;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  color: #7f7f7f;
}

.image {
  width: 14.5rem;
  height: 14.5rem;
  background-color: $third-color;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3), 0 6px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  margin-bottom: 1.7rem;

  img {
    height: 100%;
    width: 100%;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 10;
  color: #fff;

  h2 {
    font-weight: 700;
    font-size: 0.75rem;
  }

  h1 {
    font-size: 5rem;
    padding: 0.08em 0px;
    letter-spacing: -.04rem;

    /* like a text-overflow: ellipsis*/
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    white-space: unset;
  }

  span {
    font-size: 0.875rem;
    font-weight: 600;
  }

  .time {
    color: rgba(255,255,255,.7);
    font-weight: 500;
  }
}