// @import '../abstracts/variables';

.content {
  width: 100%;
  height: 54rem;
  color: $primary-color;
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.75rem;
    min-height: 1.8rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-color;

    &:hover {
      background: $scrollbar-hover-color;
    }
  }
}
