@import 'variables.scss';

.small {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  padding-right: 1.5rem;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 5rem;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;

    img {
      height: 100%;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    span {
      margin: 0 1rem;
      width: 8rem;

      /* like a text-overflow: ellipsis*/
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      overflow: hidden;
      word-break: break-all;
      white-space: unset;
    }
  }

  .play {
    all: unset;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: $green-color;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: 0.3s all;
    cursor: default;

    &:hover {
      transform: scale(1.1);
    }
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);

    .play {
      opacity: 1;
    }
  }
}
