@import 'variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
  height: 3.75rem;
  background-color: transparent;
  position: sticky;
  top: 0;

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    border: none;
    outline: none;
    border-radius: 32px;
    margin-right: 1.3rem;
    background-color: $primary-bg;
    color: $primary-color; 
    stroke-width: 1pt;
    cursor: pointer;
    float: left;
    font-weight: 700;
  }

  .dropdown {
    width: max-content;
    height: 2.1rem;
    padding: .5rem;
    padding-left: .2rem;
    
    span {
      margin: 0 .6rem;
    }

    &:hover {
      background-color: $third-color;
    }
  }

  .user {
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $third-color;
  }
}