@import 'variables.scss';

.sidebar {
  width: 100%;
  height: 53rem;
  background-color: $sidebar-bg;
  display: flex;
  flex-direction: column;
  padding: 1.5rem .5rem 0 .5rem;
}

.logo {
  width: 15rem;
  height: 2.6rem;
  margin-left: .9rem;
  margin-bottom: 1.5rem;

  img {
    height: inherit;
  }
}

