@import 'variables.scss';

.sidebar {
  width: 14rem;
  height: 53rem;
  padding: 1.5rem 1rem 0 1rem;
  background-color: $sidebar-bg;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 15rem;
  height: 2.6rem;
  margin-bottom: 1.5rem;

  img {
    height: inherit;
  }
}

